{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .PublishDate.Format "Jan. 2006" }}
<br/><br/>
<iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&light=1&hide_artwork=1&feed=%2F{{ .Params.show }}%2F" frameborder="0" ></iframe>
<br/><br/>
{{ .Content }}

{{ end }}