{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ .Content }}

<div class="posts-list">
{{ range (sort .Data.Pages "Date" "desc") }}
    <div class="post">
        <p>
            <div class="date">{{ .PublishDate.Format "Jan. 2006" }}</div>
            <h2><a href="{{ .Params.Link }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            {{ .Content }}
        </p>
    </div>
{{ end }}
</div>

{{ end }}