<div class="footer">
    <p style="text-align: left;">
        <a href="mailto:mattdanhall@duck.com" style="font-weight: normal;">Email</a> // <a href="https://gitlab.com/mattdanhall" style="font-weight: normal;">GitLab</a>
        <span style="float: right;">
            "I forgot my mantra<a href="https://youtu.be/oPh59jOoiEs">.</a>" 
        </span>
    </p>
</div>
