{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <div class="post">
                <div class="date">{{ .PublishDate.Format "Jan. 2006" }}</div>    
                <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
                <p><i>Presented at {{ .Params.pub }}.</i></p>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}